<doctype html>
<head>
    <html style="background-color:#ffffff">
    <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/u/95202067/blue_logo.png">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
    <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>

    <script src="https://raw.github.com/ebidel/filer.js/master/src/filer.js"></script>

    <script src="https://dl.dropboxusercontent.com/u/95202067/d3/d3.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/95202067/d3/d3.layout.cloud.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/95202067/d3/word_cloud.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/95202067/d3/value_list.js"></script>
</head>
<body>
<div style="position:absolute; min-width:1200px; height:530px; width:99%;">
    <title>Bucket Manager</title>
    <div id="export_menu" style="position:absolute; top:80px; left:-300px; width:240px; height:460px; background-color:#ffffff; z-index:9000;">
        <form onsubmit="exportData(); return false;">
            <div id="export_text" style="position:absolute; top:15px; left:0px; height:30px;">
                <font size="5" face="HELVETICA" color="#000000">Export</font>
            </div>
            <div id="export_options" style="position:absolute; top:40px; left:20px; height:300px; width:200px;">
                <table>
                    <tr height=75>
                        <td style="vertical-align:middle; width:30px;"><input type="checkbox" style="width:20px; height:20px;" name="selected_exports" value="word_cloud"></td>
                        <td style="vertical-align:middle; width:180px;"><font size="4" face="HELVETICA" color="#000000">Word Cloud</font></td>
                    </tr>
                    <tr height=75>
                        <td style="vertical-align:middle; width:30px;"><input type="checkbox" style="width:20px; height:20px;" name="selected_exports" value="relevance_list"></td>
                        <td style="vertical-align:middle; width:180px;"><font size="4" face="HELVETICA" color="#000000">Relevance List</font></td>
                    </tr>
                    <tr height=75>
                        <td style="vertical-align:middle; width:30px;"><input type="checkbox" style="width:20px; height:20px;" name="selected_exports" value="csv"></td>
                        <td style="vertical-align:middle; width:180px;"><font size="4" face="HELVETICA" color="#000000">CSV</font></td>
                    </tr>
                    <tr height=75>
                    </tr>
                </table>
            </div>
            <div id="export_email_line" style="position:absolute; top:370px; height:40px; width:100%; left:0px;">
                <font size="3" face="HELVETICA" color="#000000">Email</font><br/>
                <input id="emailto" type="text" style="height:20px; width:100%;">
            </div>
            <div id="export_button" align="center" onclick="exportData();" onmouseover="this.style.cursor='pointer'" style="position:absolute; bottom:10px; left:0px; height:20px; width:100px; background-color:#00b0d8; border-radius:5px; cursor:default;">
                <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Export</font></span>
            </div>
            <div id="hide_export_button" align="center" onmouseover="this.style.cursor='pointer'" onclick="drawExport(false);" style="position:absolute; bottom:10px; right:0px; height:20px; width:100px; background-color:#00b0d8; border-radius:5px; cursor:default;">
                <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Nevermind</font></span>
            </div>
        </form>
    </div>
    <div id="menu_bar" style="position:absolute; top:10px; left:15px; width:250px; height:550px;">
        <div id="title_bar" style="position:absolute; top:10px; left:5px; width:100%; height:100px;">
            <img id="adaptly_logo" src="https://dl.dropboxusercontent.com/u/95202067/adaptly_logo_web600px.png" style="width:200px;">
        </div>
        <div id="plot_controller" style="position:absolute; top:70px; left:10px; width:200px; height:480px;">
        <table>
            <tr height=120><td style="vertical-align:middle">
                <img onclick="showVis(0);" onmouseover="this.style.cursor='pointer'" src="https://dl.dropboxusercontent.com/u/95202067/word_cloud.png" style="width:200px; cursor:default;">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
                <img onclick="showVis(1);" onmouseover="this.style.cursor='pointer'" src="https://dl.dropboxusercontent.com/u/95202067/relevance_list.png" style="width:200px; cursor:default;">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
                <img onclick="drawExport(true);" onmouseover="this.style.cursor='pointer'" src="https://dl.dropboxusercontent.com/u/95202067/export.png" style="width:200px; cursor:default;">
            </td></tr>
        </table>
        </div>
    </div>
    <div id="keyword_plot" style="position:relative; margin-left:24%; top:50px; width:450px; height:475px;">
    </div>
    <div id="bucket" style="position:absolute; top:20px; right:20px; width:430px; height:550px;">
        <div id="new_bucket" style="position:absolute; top:-500px; height:400px; width:430px; left:0px; z-index:9000; background-color:#ffffff;">
            <form id="new_bucket_form" action='/save/' method='post'>
                <div id="new_bucket_name_line" style="position:absolute; top:10px; height:20px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Name</font>
                    <input type="text" style="position:absolute; right:10px; width:350px;" name="new_bucket_name">
                </div>
                <div id="new_bucket_tag_line" style="position:absolute; top:40px; height:20px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Tags</font>
                    <input type="text" style="position:absolute; right:10px; width:350px;" name="new_bucket_tags">
                </div>
                <div id="new_bucket_content_line" style="position:absolute; top:70px; height:250px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Contents</font><br/>
                    <textarea name="new_bucket_contents" rows=17 cols=50 style="width:420px; resize:none;"></textarea><br/>
                </div>
                <div id="new_bucket_button_line" style="position:absolute; bottom:10px; height:20px; width:100%; left:0px;">
                    <div align="center" onclick="submitForm('new_bucket_form');" onmouseover="this.style.cursor='pointer'" style="cursor:default; position:absolute; left:0px; top:0px; height:20px; width:120px; border-radius:5px; background-color:#00b0d8;">
                        <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Save Bucket</font></span>
                    </div>
                    <div align="center" onclick="drawMenu(false);" onmouseover="this.style.cursor='pointer'" style="cursor:default; position:absolute; right:10px; top:0px; height:20px; width:120px; border-radius:5px; background-color:#00b0d8;">
                        <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Nevermind</font></span>
                    </div>
                </div>
            </form>
        </div>
        <div id="edit_bucket" style="position:absolute; top:0px; height:360px; width:100%;">
            <div id="bucket_line" style="position:absolute; top:2px; width:100%; height:20px;">
                <form id="select_bucket_form" action="/" method="post">
                    <font size="4" face="HELVETICA" color="#000000">Bucket</font>
                    <select name="bucket_menu" id="bucket_menu" onchange="submitForm('select_bucket_form');" style="position:absolute; right:70px; width:285px;">
                        {% for bucket_name in bucket_list %}
                            <option {% if selected_bucket['NAME__']==bucket_name %}selected{% endif %} value="{{ bucket_name }}">{{ bucket_name }}</option>
                        {% endfor %}
                    </select>
                </form>
                <div align="center" onclick="drawMenu(true);" onmouseover="this.style.cursor='pointer'" style="cursor:default; position:absolute; right:5px; top:0px; height:20px; width:60px; border-radius:5px; background-color:#00b0d8;">
                    <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">New</font></span>
                </div>
                <br/>
            </div>
            <div id="tag_line" style="position:absolute; top:35px; height:20px; width:100%;">
                <form id="tag_filter_form" action="/filter/" method="post">
                    <font size="4" face="HELVETICA" color="#000000">Tags</font>
                    <input type="text" value="{{ selected_bucket['TAGS__']  }}" style="position:absolute; right:70px; width:285px;" name="tags" id="tags">
                    <div align="center" onclick="submitForm('tag_filter_form');" onmouseover="this.style.cursor='pointer'" style="cursor:default; position:absolute; right:5px; top:0px; height:20px; width:60px; border-radius:5px; background-color:#00b0d8;">
                        <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Filter</font></span>
                    </div>
                </form>
            </div>
            <div id="keyword_list" style="position:absolute; top:80px; height:290px; width:100%;">
                <textarea readonly rows=20 cols=50 style="width:425px; height:290px; resize:none; border:none; color:#00b0d8; font-family:Helvetica; font-size:14px;">{{ '    '.join(keywords) }}</textarea>
            </div>
        </div>
        <div id="bucket_stats" style="position:absolute; bottom:0px; height:150; width:100%;">
        <table>
            <tr height=70>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">CTR</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">{{ selected_bucket["CTR__"] }}</font>
                </td>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">CPC</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">{{ selected_bucket["CPC__"] }}</font>
                </td>
            </tr>
            <tr height=70>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">size (max 200)</font><br/>
                    <font size="5" face="HELVETICA" color={% if selected_bucket["SIZE__"] <= 200 %}"#00b0d8"{% else %}"#e33c47"{% endif %}>{{ selected_bucket["SIZE__"] }}</font>
                </td>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">CPM</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">{{ selected_bucket["CPM__"] }}</font>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <script type="text/javascript">
        // menu for new buckets
        var new_bucket_menu = d3.select("#new_bucket");

        // menu for exporting data
        var export_data_menu = d3.select("#export_menu");

        // functions

        // shows/hides menu as specified
        function drawMenu(is_shown) {
            if (is_shown) {
                new_bucket_menu.transition().style("top", 0);
            } else {
                new_bucket_menu.transition().style("top", -500);
            }
        }

        function drawExport(is_shown) {
            if (is_shown) {
                export_data_menu.transition().style("left", 10);
            } else {
                export_data_menu.transition().style("left", -300);
            }
        }

        // submits a form
        function submitForm(formid) {
            document.getElementById(formid).submit()
        }

        function showVis(visType) {
            switch(visType) {
              case 0:
                makeCloud({{ cloud_data | safe }}, "keyword_plot");
                break;

              case 1:
                valueList({{ list_data | safe }}, "keyword_plot")
                break;
            }
        }

        function exportData () {
            var export_data = {};

            export_data["emailto"] = $("#emailto").val();
            export_data["bucketname"] = $("#bucket_menu").val();

            var to_export = [];
            $(':checkbox:checked').each(function(i) { to_export.push($(this).val()); });

            if ($.inArray('word_cloud', to_export) != -1) {
                showVis(0);
                export_data["word_cloud"] = svg2png("#keyword_plot");
            }
            if ($.inArray('relevance_list', to_export) != -1) {
                alert("exporting relevance list");
            }
            if ($.inArray('csv', to_export) != -1) {

                // TODO: create csv to export

                export_data["csv"] = "";
            }
            $.post("/export/", export_data);

            drawExport(false);
            showVis(0);
        }

        function svg2png (canvas_name) {
            canvg();
            var png_canvas = $("#keyword_plot").find('canvas')[0];
            var img = png_canvas.toDataURL("image/png");
            return img;
        }

        showVis(0);
    </script>
</div>
</body>
