<doctype html>
<head>
    <html style="background-color:#ffffff">
    <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/u/95202067/blue_logo.png">
    <script src="http://d3js.org/d3.v2.js"></script>
</head>
<body>
<div style="position:absolute; min-width:1200px; height:530px; width:99%;">
    <title>Bucket Manager</title>
    <div id="menu_bar" style="position:absolute; top:10px; left:15px; width:250px; height:550px;">
        <div id="title_bar" style="position:absolute; top:10px; left:5px; width:100%; height:100px;">
            <img src="https://dl.dropboxusercontent.com/u/95202067/adaptly_logo_web600px.png" style="width:200px;">
        </div>
        <div id="plot_controller" style="position:absolute; top:70px; left:10px; width:200px; height:480;">
        <table>
            <tr height=120><td style="vertical-align:middle">
                <img src="https://dl.dropboxusercontent.com/u/95202067/word_cloud.png" style="width:200px;">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
                <img src="https://dl.dropboxusercontent.com/u/95202067/relation_web.png" style="width:200px;">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
                <img src="https://dl.dropboxusercontent.com/u/95202067/relevance_list.png" style="width:200px;">
            </td></tr>
            <tr height=120 valign="middle"><td style="vertical-align:middle">
                <img src="https://dl.dropboxusercontent.com/u/95202067/export.png" style="width:200px;">
            </td></tr>
        </table>
        </div>
    </div>
    <div id="keyword_plot" style="position:relative; margin-left:24%; top:50px; width:450; height:475px; border:1px solid blue;">
    </div>
    <div id="bucket" style="position:absolute; top:20px; right:20px; width:430px; height:550px;">
        <div id="new_bucket" style="position:absolute; top:-500px; height:360px; width:430px; left:0px; z-index:9000; background-color:#ffffff;">
            <form id="new_bucket_form" action='/save/' method='post'>
                <div id="new_bucket_name_line" style="position:absolute; top:10px; height:20px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Name:</font>
                    <input type="text" style="position:absolute; right:10px; width:350px;" name="new_bucket_name">
                </div>
                <div id="new_bucket_tag_line" style="position:absolute; top:40px; height:20px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Tags:</font>
                    <input type="text" style="position:absolute; right:10px; width:350px;" name="new_bucket_tags">
                </div>
                <div id="new_bucket_content_line" style="position:absolute; top:70px; height:250px; width:100%; left:0px;">
                    <font size="4" face="HELVETICA" color="#000000">Contents:</font><br/>
                    <textarea name="new_bucket_contents" rows=15 cols=50 style="width:420px; resize:none;"></textarea><br/>
                </div>
                <div id="new_bucket_button_line" style="position:absolute; bottom:10px; height:20px; width:100%; left:0px;">
                    <div align="center" onclick="submitForm('new_bucket_form');" style="position:absolute; left:0px; top:0px; height:20px; width:120px; border-radius:5px; background-color:#00b0d8;">
                        <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Save Bucket</font></span>
                    </div>
                    <div align="center" onclick="drawMenu(false);" style="position:absolute; right:10px; top:0px; height:20px; width:120px; border-radius:5px; background-color:#00b0d8;">
                        <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Nevermind</font></span>
                    </div>
                </div>
            </form>
        </div>
        <div id="edit_bucket" style="position:absolute; top:0px; height:360px; width:100%;">
            <div id="bucket_line" style="position:absolute; top:2px; width:100%; height:20px;">
                <font size="4" face="HELVETICA" color="#000000">Bucket:</font>
                <select id="bucket_menu" style="position:absolute; right:70px; width:285px;">
                    {% for bucket_name in bucket_list %}
                        <option value={{ bucket_name }}>{{ bucket_name }}</option>
                    {% endfor %}
                </select>
                <div align="center" onclick="drawMenu(true);" style="position:absolute; right:5px; top:0px; height:20px; width:60px; border-radius:5px; background-color:#00b0d8;">
                    <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">New</font></span>
                </div>
                <br/>
            </div>
            <div id="tag_line" style="position:absolute; top:35px; height:20px; width:100%;">
                <font size="4" face="HELVETICA" color="#000000">Tags:</font>
                <input type="text" style="position:absolute; right:70px; width:285px;" name="keyword" id="keyword">
                <div align="center" style="position:absolute; right:5px; top:0px; height:20px; width:60px; border-radius:5px; background-color:#00b0d8;">
                    <span style="position:relative; line-height:20px;"><font size="3" face="HELVETICA" color="#FFFFFF">Filter</font></span>
                </div>
            </div>
            <div id="keyword_list" style="position:absolute; top:70px; height:300; width:100%;">
            </div>
        </div>
        <div id="bucket_stats" style="position:absolute; bottom:0px; height:150; width:100%;">
        <table>
            <tr height=70>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">reach</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">{{ selected_bucket["REACH__"] }}</font>
                </td>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">---</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">---</font>
                </td>
            </tr>
            <tr height=70>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">size (max 50)</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">{{ selected_bucket["SIZE__"] }}</font>
                </td>
                <td width=215 align="center">
                    <font size="3" face="HELVETICA" color="#000000">---</font><br/>
                    <font size="5" face="HELVETICA" color="#00b0d8">----</font>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <script type="text/javascript">
        // adds new bucket menu
        var new_bucket_menu = d3.select("#new_bucket");


        // functions

        // shows/hides menu as specified
        function drawMenu(is_shown) {
            if (is_shown) {
                new_bucket_menu.transition().style("top", 0);
            } else {
                new_bucket_menu.transition().style("top", -500);
            }
        }

        // submits new bucket form
        function submitForm(formid) {
            document.getElementById(formid).submit()
        }
    </script>
</div>
</body>
